body {
    background-color: #1A1E22;
    color: lightgray;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-menu{
    background-color: #b317a6;
    color: #fff;
    font-size: 18px;
}
.personalizedsize{
    padding: 16px;
}
.espaco-topo {
    margin-top: 10px;
    color: #d205c1;
}

.logo-small {
    color: #b317a6;
    font-size: 50px;
}

.logo {
    color: #b317a6;
    font-size: 200px;
}

img {
    width: auto;
    height: 120px;
}
